.header{
    height: 65px;
    display: flex;
    align-items: center;
    gap: 190px;
    &-left{
        width: 435px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-item{
            width: calc(435px / 4);
            height: 100%;
            display: flex;
            align-items: center;
            & a{
                border-right: 1px solid rgb(255, 255, 255, 0.3);
                display: block;
                width: 100%;
                height: 20px;
                font-size: 1em;
                line-height: 20px;
                color: white;
                font-family: $sub-font;
                text-align: center;
            }
        }
    }
    &-right{
        width: 435px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-item{
            width: calc(435px / 4);
            height: 100%;
            display: flex;
            align-items: center;
            & a{
                border-left: 1px solid rgb(255, 255, 255, 0.3);
                display: block;
                width: 100%;
                height: 20px;
                font-size: 1em;
                line-height: 20px;
                color: white;
                font-family: $sub-font;
                text-align: center;
            }
        }
    }
}